* {
  text-align: center;
  color: darkslategrey;
  font-family: 'Archivo Narrow', sans-serif;
}

#background {
  background-size: cover;
}

nav {
  display: flex;
  justify-content: flex-start;
}

header {
  margin-right: 20px;
  margin-left: 20px;
}

h1 {
  font-size: 45px;
  margin-top: 70px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color: tomato;
}

h2 {
  font-size: 28px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color: tomato;
}

h3 {
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
}


.links {
  color: tomato;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.bio, .description {
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.block {
  margin-bottom: 150px;
}

.bio {
  font-size: 16px;
}

.social {
  width: 30px;
  height: 30px;;
}

#alpacaQuiz {
  height: 200px;
  border-radius: 5px;
}

#hamburgerButton {
  margin: 10px;
  height: 30px;
  width: 30px;
  transform: rotate(90deg);
}

#arrowButton {
  height: 30px;
  width: 30px;
}


@media only screen and (min-width: 376px) {

  h1 {
    font-size: 48px;
    margin-top: 70px;
    margin-right: 20px;
    margin-left: 20px;
  }

  h2 {
    font-size: 36px;
    margin-right: 20px;
    margin-left: 20px;
  }

  h3 {
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .bio, .description {
    font-size: 20px;
    max-width: 600px;
  }

  #alpacaQuiz {
    height: 300px;
    border-radius: 5px;
  }

  .social {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }

}
